.giveMeGifs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-left: 30px;

  &__text {
    width: 200px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    background-color: yellowgreen;
    position: relative;
    align-self: center;
    margin-top: 50px;
    border-radius: 20px;
    animation: vibrate-1 0.3s linear infinite both;

    &:before {
      border: 25px solid yellowgreen;
      content: '';
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      position: absolute;
      bottom: -48px;
      left: calc(50% - 25px);
    }
  }
}

.contain__rickAndMorty {
  cursor: pointer;
  position: relative;
  width: 200px;

  @media all and (min-width: 1200px) {
    width: 300px;
  }

  & img {
    width: 100%;
    position: relative;
    &:hover {
      animation-name: hvr-pulse;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
