.contain__selectPage{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;

    & .prev__page {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        & img{
            cursor: pointer;
            transform: rotate(180deg);
            width: 50px;
        }

        & p{
            width: 80px;
            font-size: 10px;
            color: yellowgreen;
            text-transform: uppercase;
        }
    }

    & .next__page {
        display: flex;
        align-items: center;
        
        & img{
            cursor: pointer;
            width: 50px;
        }

        & p{
            width: 80px;
            font-size: 10px;
            color: yellowgreen;
            text-transform: uppercase;
        }
    }

}

.number__page{
    width: 120px;
    color: white;
    font-size: 12px;
    align-self: center;
    padding: 10px;
}