.containStatus__label {
  color: yellowgreen;
  margin-right: 10px;

}

.containStatus__select{
    cursor: pointer;
    background-color: rgba(144, 196, 0, 0.596);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 1px rgb(186, 253, 0)
}